<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration>  
<configuration status="OFF">
<properties>
	<!-- 基本的文件的输出信息的配置 -->
    <property name="LOG_HOME">log</property>
    <property name="SERVER_NAME">consumer</property>
</properties>
<appenders>
    <!-- 定义控制台输出 -->
    <Console name="Console" target="SYSTEM_OUT" follow="true">
        <PatternLayout
            pattern="[%-5p] %d{HH:mm:ss,SSS} %c%n   %m%n" />
    </Console>
    <!-- 输出日志文件 -->
    <RollingRandomAccessFile name="OutputLog"
        fileName="${LOG_HOME}/${SERVER_NAME}.out" filePattern="${LOG_HOME}/${SERVER_NAME}%d{yyyyMMdd}.out">
        <PatternLayout
            pattern="[%-5p] %d{HH:mm:ss,SSS} %c%n   %m%n" />
        <Policies>
            <TimeBasedTriggeringPolicy interval="1"
                modulate="true" />
            <!--  <SizeBasedTriggeringPolicy size="1024 KB" />-->
        </Policies>
        <DefaultRolloverStrategy max="5" />
    </RollingRandomAccessFile>
</appenders>
<loggers>
    <!-- 3rdparty Loggers -->
    <logger name="org.mybatis.spring" level="info" additivity="false">
    </logger>
    <logger name="org.apache.ibatis" level="info" additivity="false">
    </logger>
    <logger name="org.apache.cxf" level="info" additivity="false">
    </logger>
    <logger name="org.springframework" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="OutputLog"/>
	</logger>
		
    <logger name="com.ebao.platform" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="OutputLog"/>
	</logger>
	<logger name="com.ebao.frontsys" level="debug" additivity="false">
			<AppenderRef ref="Console"/>
			<AppenderRef ref="OutputLog"/>
	</logger>
    <!-- Root Logger -->
    <root level="DEBUG">
        <appender-ref ref="OutputLog" />
        <appender-ref ref="Console" />
    </root>
</loggers>  
	
</configuration>